<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Producto</title>
    <link rel="stylesheet" href="/css/principal.css">
    <link rel="stylesheet" href="/css/producto.css">
</head>
<body>
   <header class="main-header">
       <nav class="main-header__nav">
           <ul class="main-header__item-list">
               <li class="main-header__item"><a href="/">Tienda</a></li>
               <li class="main-header__item"><a href="/admin/agregar-producto">Agregar Producto</a></li>               
           </ul>
       </nav>
   </header>
   <main>
       <form class="forma-producto" action="/admin/producto" method="POST">
           <input type="text" name="titulo">
           <button type="submit">Agregar Producto</button>
       </form>
   </main>
    
</body>
</html>